body {
    max-width: 90%;  
    background-color: rgba(128, 128, 128, 0.6);
}

img {
    max-width: 400px;
    max-height: 400px;
}

.top-intro {
    background-color: lemonchiffon;
    width: 80%;
    height: 140px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px rgba(50,0,0,0.75);
}

h1 {
    font-family: cursive;
    color: darkslategray;
    font-size: 3em;
    margin-top: -10px;
    padding-top: 5px;
}

.top-intro p {
    font-family: tahoma;
    color: #b122a1;
    font-size: 1.5em;
    font-style: italic;
}

.about-me {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
}

.about-me-content {
    margin: 0 40px;
    width: 30%;
    
}

h2 {
    font-size: 2em;
    font-family: sans-serif;
    color: #d5c201;
    text-align: center;
    background-color: rgba(115, 50, 225, 0.8);
    border-radius: 10px;
}

.about-me-content p {
    color: #010101;
    font-size: 1.5em;
    font-family: lucida sans;
}

.about-me-content img {
    margin-left: -20px;
    height: 400px;
    margin-top: 30px;
}

.educational-background {
    margin-left: 80px;
    margin-right: 40px;
}
    

.educational-background p {
    color: #010101;
    font-size: 1.5em;
    font-family: lucida sans;
}

.cert-img {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.cert-img-two img {
    height: 400px;
    width: 400px;
    padding: 0 5px;
}

.photospeak {
    margin-left: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images p {
    font-family: tahoma;
    color: #010101;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

.images img {
    width: 300px;
    height: 400px;
    padding: 0 20px;
}

.img-one {
    background: #a8a5d1;
    border: 2px solid #c522b5;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 10px;
}

.img-two {
    background: #a8a5d1;
    border: 2px solid #c522b5;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 10px;
}

.img-three {
    background: #a8a5d1;
    border: 2px solid #c522b5;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 10px;
}

.img-four {
    background: #a8a5d1;
    border: 2px solid #c522b5;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 10px;
}

address {
    font-family: tahoma;
    color: #010101;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    background: #22c2b5;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    margin-left: 40px;
}

.skills p {
    color: #010101;
    font-size: 1.5em;
    font-family: lucida sans;
}

.skills ul {
    list-style-type: square;
    font-family: lucida sans;
    color: #010101;
    font-size: 1.5em;
}